# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Programozas projektek\Python projects\Wholestore_For_PC_Equipments\Wholestore-for-PC-equipments\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
